# This file contains common pin mappings for the Nitehawk36 V1.4.
# To use this config, the firmware should be compiled for the 
# Raspberry Pi RP2040".

# change the mcu section name to the tool board you are configuring:
# NHK0, NHK1, etc.
[mcu NHK0]
serial: /dev/serial/by-id/usb-Klipper_rp2040_3232323236198296-if00
restart_method: command

# change the accelerometer section name to the tool you are configuring:
# T0, T1, etc.
[adxl345 T0]
cs_pin: NHK0:gpio27
spi_software_sclk_pin: NHK0:gpio18
spi_software_mosi_pin: NHK0:gpio20
spi_software_miso_pin: NHK0:gpio19
axes_map: x,z,y

# change to the extruder section you are configuring:
# extruder, extruder1, etc.
[extruder] # Orbiter2.5 with CHCB-V Hotend
step_pin: NHK0:gpio23
dir_pin: !NHK0:gpio24
enable_pin: !NHK0:gpio25
heater_pin: NHK0:gpio9
sensor_pin: NHK0:gpio29
pullup_resistor: 2200
microsteps: 16
rotation_distance: 4.69
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: 0
max_temp: 290
pressure_advance: 0.03
sensor_type: ATC Semitec 104NT-4-R025H42G
# max_extrude_only_distance: 101`
max_extrude_cross_section: 5.0
control: pid
pid_Kp: 25.045 # Reduce gain to make response gentler
pid_Ki:  1.897 # Reduce accumulated correction
pid_Kd: 82.649 # Increase damping to resist sharp swings

# change the tmc2209 section name to match the extruder you are configuring:
# extruder, extruder1, etc.
[tmc2209 extruder] # Orbiter2.5
uart_pin: NHK0:gpio0
tx_pin: NHK0:gpio1
sense_resistor: 0.100
run_current: 0.85
stealthchop_threshold: 0

# change the heater_fan section name to match the tool you are configuring:
# T0_hotend_fan, T1_hotend_fan, etc.
[heater_fan T0_hotend_fan]
pin: NHK0:gpio5
heater: extruder # change to match the extruder you are configuring: extruder, extruder1, etc.
heater_temp: 50.0

# change the fan_generic section name to the tool you are configuring:
# T0_partfan, T1_partfan, etc.
[fan_generic T0_part_fan]
pin: NHK0:gpio6

# change the tool section name to the tool you are configuring:
# T0, T1, etc.
[tool T0]
tool_number: 0 # change to the index of the tool. 0, 1, 2, etc.
extruder: extruder # change to match the extruder you are configuring: extruder, extruder1, etc.
fan: T0_part_fan
params_park_x:   -1.00 # The absolute X-position of the tool in its dock.
params_park_y:    0.00 # The absolute Y-position of the tool in its dock.
params_park_z:  286.60 # The absolute Z-position where the tool and shuttle mate in the dock, determined when the TAP (or Z-probe) triggers.
gcode_x_offset: 0 # The X-Axis offset of the nozzle's orifice in relation to tool 0
gcode_y_offset: 0 # The Y-Axis offset of the nozzle's orifice in relation to tool 0
gcode_z_offset: 0 # The Z-Axis offset of the nozzle's orifice in relation to tool 0

# Results from input shaper
params_input_shaper_type_x: '3hump_ei'
params_input_shaper_freq_x: 60.0
params_input_shaper_type_y: '3hump_ei'
params_input_shaper_freq_y: 64.4

# change the tool_probe section name to the tool you are configuring:
# T0, T1, etc.
[tool_probe T0]
pin: NHK0:gpio10
tool: 0 # change to the index of the tool. 0, 1, 2, etc.
z_offset = -0.888 # Needs to be calibrated. More positive = More Squish
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder # change to match the extruder you are configuring: extruder, extruder1, etc.
    
# change the neopixel section name to the tool you are configuring:
# T0, T1, etc.
[neopixel T0]
pin: NHK0:gpio7
color_order: GRBW
chain_count: 23
initial_RED: 0.5
initial_GREEN: 0.0
initial_BLUE: 0.5
initial_WHITE: 0.0

# change the gcode_macro section name to the tool you are configuring:
# T0, T1, etc.
[gcode_macro T0]
variable_active: 0 # Must be zero.
variable_color: "" # Leave empty
gcode:
    SELECT_TOOL T=0 # change to the index of the tool. 0, 1, 2, etc.